* {
    padding: 0;
    margin: 0;
}

.selected a {
    background-color: #129280;
}

.sidebar {
    border-right: 1px solid #f0f2f1;
    width: 180px;
    float: left;
    min-height: 900px;
}

.sidebar > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.sidebar > ul > li {
    font-size: 24px;
    text-align: center;
    padding: 10px 0 10px;
    margin-top: 5px;
    /*height: 50px;*/
}

.sidebar > ul > li > ul {
    border-top: 1px dashed rgba(0, 0, 0, 0.1);
    display: block;
    list-style: none;
    margin: 15px 10px 10px 10px;
    padding: 10px 0 0 10px;
    overflow: auto;
}

.sidebar > ul > li > ul > li {
    height: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
}

.sidebar a {
    line-height: 15px;
}

a:hover {
    color: #e74430;
    cursor: pointer;
    text-decoration: none;
}

.top-nav {
    height: 65px;
    padding-right: 5%;
    line-height: 65px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.sidebar-selected {
    color: #e6dee7;
    background-color: #3a988b;
}

.sidebar-selected > a {
    color: #e6dee7;
}

a {
    color: #333;
    text-decoration: none;
}
.content{
    float: left;
    margin: 25px;
    width: 85%;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
button.btn-add{
    margin-bottom: 5px;
    width: 100px;
}

.edit-content{
    padding: 15px;
}
.color-yes{
    color: #28a745;
}
.color-no{
    color: #16181b;
}
.color-male{
    color: coral;
}
.color-female{
    color: #d95aff;
}
.editable-empty{
    color: #ac8f9b !important;
}
.panel-heading-text{
    font-size: 18px;
}
.text-large{
    font-size: 65px;
    font-weight: 800;
    color: #1c8274;
}
.sign-out{
    cursor: pointer;
}