<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <div th:replace="template :: head-common"></div>
</head>
<body>
<div th:replace="template :: sidebar-nav"></div>
<div th:replace="template :: top-bar"></div>
<div class="content">
    <div class="col-sm-3">
        <div class="panel panel-danger ">
            <div class="panel-heading panel-heading-text">房屋数量</div>
            <div class="panel-body text-large text-center " th:text="${houseCount}"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-primary ">
            <div class="panel-heading panel-heading-text">住户数量</div>
            <div class="panel-body text-large text-center " th:text="${userCount}"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-success ">
            <div class="panel-heading panel-heading-text">车辆数量</div>
            <div class="panel-body text-large text-center " th:text="${carCount}"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-primary ">
            <div class="panel-heading panel-heading-text">会员卡数量</div>
            <div class="panel-body text-center text-large" th:text="${cardCount}"></div>
        </div>
    </div>
</div>

</body>
<script>
    $(function () {
        $(".nav-li").removeClass("sidebar-selected");
        $("#page-index").addClass("sidebar-selected");
    })
</script>
</html>